.display-none{
    display: none;
}

.navbar{
    min-height: 7em;
    background: #FFC37C;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    color: #B1B2B4;
}

.navbar-brand{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.2em;
    letter-spacing: -1;
    font-weight: bold;
}

.navbar-default .navbar-brand:hover{
    color: #EC644A;
}


.navbar-default .navbar-nav>li>a{
    display: block;
    font-size: 1.1em;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #B1B2B4;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color: #4A4A4A;
}

header{
    width: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.24);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 999;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
}

.navbar-default .navbar-toggle {
   border-color: #FFC37C;
}

.middle{
    margin-top: 2%;
}

.visible{
    display: block;
}

body {
  background-color: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /*transition: all 0.35s ease-out;*/
}
